.chatContainer{
	transition: transform 0.3s ease-out;
	position: fixed;
	height: 50%;
	width: 100%;
	bottom: 0;
	right: 0;
	z-index: 100;
}
.chat_hide{
	transform: translateY(100%);
}
.chat{
	position: relative;
	border: black solid;
	border-width: 1px 0 0 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* Desktop */
@media only screen and (min-width: 30em) {
	.chatContainer{
		top: 0;
		right: 0;
		height: 100%;
		width: 350px;
	}
	.chat{
		border-width: 0 0 0 2px;
	}
	.chat_hide{
		transform: translateX(100%);
	}
}
.chatCollapseBtn{
	position: absolute;
	top: 0;
	right: 100%;
	margin: 8px 0px;
	padding: 12px 6px;
	font-size: 1.75rem;
	border-radius: 16px 0 0 16px;
	border: black solid 2px;
	border-right: 0px;
	user-select: none;
	cursor: pointer;
}
.chat li{
	list-style: none;
}
.chat ul{
	margin: 0;
	padding: 2px 0;
	overflow-wrap: break-word;
}
.chat ul>div{
	padding: 6px 8px;
}
.chat .userName{
	font-weight: bold;
}
.chat .announcement{
	font-style: italic;
}
.chat .colored{
	text-shadow: #00000080 1px 1px;
}
.chat .newMessages{
	display: block;
	padding: 2px 0;
	color: darkred;
	font-size: 0.8rem;
	font-weight: bold;
	text-align: center;
	border: red solid;
	border-width: 2px 0;
	background: #ff000020;
}