.toolbox {
	width: 80px;
	z-index: 100;
	border: black solid;
	border-width: 0 2px 0 0;
	overflow-y: auto;
}
.toolbox button{
	padding: 0;
	line-height: 0;
}
.brushIcon {
	transition: all 0.3s ease-out;
	border: #ffffff00 1px solid;
}
.brushIcon:hover {
	background: #ffffff80;
}
.selected {
	background: #ffffffa0;
	border-color: white;
}